.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.container {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 4px;
  gap: 4px;
}
.taglist {
  display: flex;
  flexwrap: wrap;
  alignitems: center;
  gap: 4px;
}
.tag {
  background-color: #f3f3f3;
  padding: 4px 8px;
  border-radius: 4px;
}

.input {
  border: none;
  padding: 4px 0;
  flex-grow: 1;
  min-width: 50px;
}
